<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon slot="icon-only" name="return-up-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="ion-margin">
    <ion-label position="floating" >Usuario</ion-label>
    <ion-input [(ngModel)]="modeloUsuario"></ion-input>
  </ion-item>
  <ion-item class="ion-margin">
    <ion-label position="floating" >Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="modeloPass"></ion-input>
  </ion-item>
  <ion-item class="ion-margin">
    <ion-label position="floating" >Confirmar contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="modeloCPass"></ion-input>
  </ion-item>

  <ion-button expand="full" class="ion-margin" (click)="validarRegistro()">Ingresar</ion-button>
</ion-content>
